<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--LOCAL CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css.styles-contact.css">
    <!--BUTTON FONTS-->
    <script src="https://kit.fontawesome.com/6e9ec76976.js" crossorigin="anonymous"></script>
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" href="/photos/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Personal Portfolio</title>
</head>
<body>
     <!--Navigation bar -->
     <header id = "header">
      <nav id="navbar">
        <img id = "logo" src= "/photos/brandlogo.png" alt="brand logo">
        <ul class = "nav-list" id="toggleMenu">
          <li class="nav-link"><a href="/">About Me</a></li>
          <li class="nav-link"><a href="#projects">Projects</a></li>
          <li class="nav-link"><a href="/contact">Contact</a></li>
        </ul>
          <div class="hamburger">
            <div class="menu"></div>
            <div class="menu"></div>
            <div class="menu"></div>
          </div>
      </nav>
    </header>
