<%- include("partials/header"); -%>

  <!--Quick introduction-->
  <div id= "welcome-section">
    <h1>Hello There! </h1>
    <h1>My name is Alex Lee!</h1>
    <p>I'm an aspiring Full-Stack Developer that's based out of New York City, and thank you for checking out my portfolio!</p>
  </div>

  <!--Personal introduction-->
  <div id = "personal-section">
    <div class = "about-me">
      <img id = "portrait" src= "/photos/portfolio_bw.png" alt="brand logo">
      <p>I previously came from an Operations & Project Management background. Technology has always been an interest and I wanted to find a way to be creative and build new things! See my growth as a software engineer below</p>
      <h2>I am currently coding (or learning) the following:</h2>
      <ul class = "language_list">
        <li>HTML5 & CSS3</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>Node.js and Express.js</li>
        <li>SQL</li>
        <li>MongoDB and Mongoose</li>
        <li>React & Redux</li>
      </ul>
    </div>
  </div>

  <!--FOOTER SECTION GOES HERE-->
  
  <%- include("partials/footer"); -%> 

  <!-- LOADING HTML BELOW-->
  <!-- <div class = "loader-wrapper">
    <span class = "loader"><span class = "loader-inner"></span></span>
  </div> -->

  <script src="/javascript/query.js"></script>

  <!--LOADING SCRIPT BELOW-->
  <!-- <script>
    $(window).on("load",function(){
      $(".loader-wrapper").fadeOut("slow");
    });
  </script> -->

